---
layout: layouts/base.njk
title: Avukatlarımız
permalink: /ekip/
---

<header class="hero" style="--hero-bg:url('/assets/og-hero.jpg')">
  <div class="hero-inner">
    <h1>Avukatlarımız</h1>
    <p class="lead">Deneyim, odak alanları ve iletişim bilgileri.</p>
  </div>
</header>

<section>
  <div class="wrap partners">

    <div class="partner">
      <div class="avatar">BK</div>
      <div>
        <strong>Av. Bengisu Kaya Pehlivan</strong>
        <div class="muted">
          2019 Anadolu Üniv. Hukuk mezunu; şirketler, sözleşmeler, sigorta ve gayrimenkul ağırlıklı çalışır.  
        </div>
        <div class="muted">E-posta: bengisukaya683@gmail.com  Tel: 0536 666 9468   </div>
      </div>
    </div>



    <div class="partner">
      <div class="avatar">KA</div>
      <div>
        <strong>Av. Kürşat Alan</strong>
        <div class="muted">
          2022 Okan Üniv. Hukuk mezunu; vergi, icra, kira ve şirketler hukukuna odaklanır.  
        </div>
        <div class="muted">E-posta: avkursatalan@gmail.com <br> Tel: 0545 246 1282  </div>
      </div>
    </div>
    <div class="partner">
      <div class="avatar">YK</div>
      <div>
        <strong>Av. Yunus Kadir Pehlivan (Arabulucu)</strong>
        <div class="muted">
          2014 Anadolu Üniv. Hukuk mezunu; ceza, iş ve idare hukuku; arabuluculuk yürütür. 
        </div>
        <div class="muted">E-posta: yunuskadirpehlivan@gmail.com <br> Tel: 0537 674 8149 </div>
      </div>
    </div>
  </div>
</section>
